@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
body * {
  outline: none;
}
body.list .content .grid {
  display: none;
}
body.grid .content .list {
  display: none;
}
.underlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.dialog {
  display: none;
  position: fixed;
  z-index: 2;
  padding: 25px;
  background: #dee1e5;
  top: 50%;
  left: 50%;
  width: 31%;
}
.dialog h3 {
  color: #70767f;
  text-transform: capitalize;
}
.dialog .close {
  background: url('/public/images/modal-close.png');
  width: 21px;
  height: 21px;
  position: absolute;
  top: -65px;
  right: -25px;
}
.dialog a {
  margin-top: 35px;
  display: inline-block;
  color: #70767f;
}
.dialog .submit {
  float: right;
  margin: 25px 0 0 0;
}
.message.create {
  width: 100%;
}
.message.create textarea {
  width: 94%;
}
.modal .hero *,
.modal .navigation *,
.modal .content *,
.modal .footer * {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.modal .underlay {
  display: block;
}
.modal .dialog {
  display: block;
}
.navigation {
  background: #262728;
  padding: 20px;
}
.navigation .container {
  position: relative;
}
.navigation .user {
  height: 52px;
  margin-left: 20px;
  position: relative;
  padding-right: 13px;
}
.navigation .user:hover .dropdown {
  opacity: 1;
}
.navigation .disclosure {
  line-height: 32px;
  height: 32px;
  margin-left: 15px;
  background-image: url('/public/images/header/disclosure.png');
}
.navigation.primary {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}
.rounded {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.logo {
  overflow: hidden;
  display: inline-block;
  height: 25px;
}
h2 {
  color: #3f454d;
  font-size: 30px;
  margin-bottom: 45px;
}
h3 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #70767f;
  font-size: 13px;
  margin-bottom: 20px;
}
.menu {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: none;
  border: 1px solid #d6d9de;
  padding: 10px;
  display: block;
  width: 100%;
}
input.search {
  border-color: #43474a;
  color: #70767f;
  width: 150px;
  display: inline-block;
  background: url('/public/images/header/search-glass.png') no-repeat 160px center;
  position: relative;
  top: -9px;
  margin-left: 20px;
  padding: 6px 25px 6px 6px;
}
.message {
  display: inline-block;
}
.disclosure {
  display: inline-block;
  background: url('/public/images/disclosure.png') no-repeat center right;
  width: 7px;
  height: 7px;
}
.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: #fff;
  opacity: 0;
}
.dropdown a {
  display: block;
  padding: 15px 30px;
  color: #868b92;
  text-decoration: none;
  text-align: left;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dropdown a:hover {
  background: #c3c7d0;
}
.dropdown li {
  border-bottom: 1px solid #dee1e5;
}
.dropdown li:last-of-type {
  border-bottom: 0;
}
.dropdown .triangle {
  background: url('/public/images/header/dropdown-triangle.png') no-repeat;
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  top: -5px;
  right: 12px;
}
.icon {
  background: no-repeat center;
  width: 13px;
  height: 13px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #fff;
}
.hero {
  background: url('/public/images/header/background.jpg');
  background-size: cover;
  padding: 225px 0 0 0;
  margin-bottom: 50px;
}
.hero input {
  width: 100%;
  border: 0;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  border-left: 1px solid #fff;
  margin: 0 0 25px 0;
  padding: 0 0 0 5px;
}
.hero .highlight {
  padding: 35px;
  width: 30%;
  margin: 0 auto;
  background: rgba(57, 185, 152, 0.7);
}
.hero .highlight * {
  color: #9cddd2;
}
.hero .toggle {
  width: 55%;
  text-align: left;
  margin: 55px auto 0 auto;
  position: relative;
}
.hero .toggle li {
  display: inline-block;
  padding: 3px;
}
.hero .toggle li:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
}
.hero .toggle a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 15px 10px;
  margin-right: 15px;
  display: inline-block;
  margin-bottom: -3px;
}
.hero .toggle a.action {
  padding: 10px;
  margin: 0;
  background-position: right bottom;
}
.hero .toggle a:hover {
  -webkit-box-shadow: inset 0 -10px 0 -7px #00cc99;
  box-shadow: inset 0 -10px 0 -7px #00cc99;
}
.hero .toggle .action:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.hero .action.list,
.hero .grid {
  background-repeat: no-repeat;
  background-position: 0 18px;
  width: 9px;
  height: 9px;
}
.hero .action.list {
  background-image: url('/public/images/home/list-view.png');
}
.hero .action.list.active {
  background-image: url('/public/images/home/list-view-active.png');
}
.hero .grid {
  background-image: url('/public/images/home/grid-view.png');
}
.hero .grid.active {
  background-image: url('/public/images/home/grid-view-active.png');
}
.action {
  background: no-repeat left center;
  padding-left: 25px;
}
.photo {
  background-image: url('/public/images/home/add-photo.png');
  margin-right: 25px;
}
.photo.dark {
  background-image: url('/public/images/add-photo.png');
}
.video {
  background-image: url('/public/images/home/add-video.png');
}
.video.dark {
  background-image: url('/public/images/add-video.png');
}
.reply {
  background-image: url('/public/images/reply.png');
}
.favorite {
  background-image: url('/public/images/favorite.png');
}
.container.content {
  margin: 50px auto;
  padding-top: 70px;
}
.home.content {
  padding-top: 0;
}
.post {
  border: 1px solid #dee1e5;
  color: #70767f;
  padding: 25px;
  margin-bottom: 25px;
}
.post:last-of-type {
  margin-bottom: 0;
}
.post.list {
  width: 50%;
  margin: 0 auto 25px auto;
}
.post .title {
  color: #3f454d;
  font-size: 16px;
  display: inline-block;
}
.post span,
.post a,
.post .time {
  color: #c3c7d0;
  text-decoration: none;
}
.post p {
  clear: both;
  padding-top: 15px;
  font: 'Open Sans', sans-serif;
}
.post .actions {
  float: right;
  text-align: right;
}
.post .icon {
  margin-right: 15px;
}
.post .expand {
  margin-top: 25px;
  display: inline-block;
  font-size: 13px;
}
.post .disclosure {
  margin-left: 5px;
  height: 10px;
}
.avatar {
  background: url('/public/images/post/avatars.png') no-repeat 0 0;
  width: 40px;
  height: 40px;
}
.avatar.two {
  background-position: -47px 0;
}
.avatar.three {
  background-position: -94px 0;
}
.avatar.four {
  background-position: -141px 0;
}
.avatar.five {
  background-position: -187px 0;
}
.avatar.six {
  background-position: 0 -44px;
}
.avatar.seven {
  background-position: -47px -44px;
}
.avatar.eight {
  background-position: -94px -44px;
}
.avatar.nine {
  background-position: -141px -44px;
}
.avatar.ten {
  background-position: -187px -44px;
}
.button {
  border: 1px solid #70767f;
  color: #70767f;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  display: block;
}
section {
  border-bottom: 1px solid #d6d9de;
  display: inline-block;
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.user {
  display: inline-block;
}
.user .image {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url('/public/images/avatar.png') no-repeat center center;
  background-size: cover;
}
.settings .content .col.one.third {
  width: 21%;
  margin-right: 3%;
}
.settings .content .col.two.third {
  width: 61%;
}
.settings .content .user .image {
  width: 85px;
  height: 85px;
  margin-bottom: 15px;
}
.settings .content .button {
  width: 85px;
  margin: 0;
  padding: 5px 0;
}
.settings .content input[type="text"],
.settings .content input[type="password"],
.settings .content input[type="email"] {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  padding-left: 45px;
}
.settings .content .icon {
  background: no-repeat 15px center;
}
.settings .content .name {
  background-image: url('/public/images/settings/user.png');
}
.settings .content .email {
  background-image: url('/public/images/settings/email.png');
}
.settings .content .password {
  background-image: url('/public/images/settings/password.png');
}
.settings .content li {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.settings .content .field {
  line-height: 24px;
  padding-left: 15px;
}
form input {
  color: #3f454d;
}
form .submit {
  background: #00b286;
  border-color: #00b286;
  color: #fff;
  padding: 10px 25px;
}
form .submit:hover {
  cursor: pointer;
}
form input[type="checkbox"].radio {
  display: none;
}
form input[type="checkbox"].radio + label.radio span {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
  background: url('/public/images/checkbox.png') no-repeat 0 0;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
form input[type="checkbox"].radio:checked + label.radio span {
  background: url('/public/images/checkbox.png') no-repeat -25px 0;
}
form textarea {
  display: block;
  margin: 0;
  resize: none;
  padding: 15px;
  border: 0;
}
.footer.navigation {
  background: #fff;
  font-size: 11px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid #dee1e5;
  margin-top: 50px;
  padding: 25px;
  clear: both;
}
.footer.navigation .list {
  text-transform: uppercase;
  color: #70767f;
}
.footer.navigation .list a {
  color: #00cc99;
  text-decoration: none;
}
.footer.navigation .list li {
  display: inline-block;
  padding-right: 25px;
}
.footer.navigation .list li:last-of-type {
  padding-right: 0;
}
